# created by virtualenv automatically
venv
.vscode
.idea
apps/account/__pycache__
apps/account/migrations/__pycache__
apps/order/__pycache__
apps/order/migrations/__pycache__
devops/__pycache__
utils/__pycache__
devops_api/__pycache__
logs
devops_api.log