django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
pycryptodome
debugpy
simplejson
pyyaml
pymysql
pymongo
kubernetes
cerberus
atlassian-python-api
nacos-sdk-python
python-jenkins
ldap3