django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
pycryptodome==3.20.0
debugpy
simplejson
pyyaml
pymysql
pymongo
kubernetes==29.0.0
cerberus
atlassian-python-api
nacos-sdk-python
python-jenkins
ldap3
python-gitlab