django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
pycryptodome==3.20.0
debugpy
simplejson
pyyaml
pymysql
pymongo
kubernetes==29.0.0
cerberus
atlassian-python-api
nacos-sdk-python
ldap3
python-gitlab
# pulumiverse-harbor
git+https://github.com/container-registry/harbor-api-client.git